*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
}

.content {
	width: 1140px;
	display: grid;
	grid-template-areas: 'result content__details';
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	align-items: flex-end;
}

.result {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.result__video-container {
	position: relative;
	width: 711px;
	height: 386px;
}

.result__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.content__details {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.content__list-container {
	position: relative;
	height: 298px;
	overflow: auto;
	padding-left: 2px;
	padding-right: 2px;
}

.content__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin: 1px 0 30px;
}

.content__card-link {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
}

.content__card-link:focus {
	outline: none;
}

.content__card-link:focus-visible {
	outline: 1px solid #fff;
	outline-offset: -1px;
}

.content__video-card {
	display: flex;
}

.content__card-link:hover {
	text-decoration: underline;
}

.content__card-link:active {
	background-color: #545050;
	text-decoration: none;
}

.content__card-link.content__card-link_current {
	outline: 1px solid #cccccc;
}

.content__video-card-thumbnail {
	width: 194px;
	height: 103px;
	object-fit: cover;
	object-position: center;
}

.content__video-card-description-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.search-form__fieldset-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
}

.title {
	font-family: Oswald, sans-serif;
	font-size: 75px;
	line-height: 94%;
	text-transform: uppercase;
	padding-bottom: 7px;
}

.content__accent {
	color: #545050;
}

.content__video-card-title {
	font-family: Oswald, sans-serif;
	font-size: 30px;
	line-height: 100%;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 196px;
}

.content__video-card-description {
	line-height: 16.2px;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.button {
	all: unset;
	font-weight: 700;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 100%;
	cursor: pointer;
}

.button:hover {
	text-decoration: underline;
}

.button:active {
	background-color: #545050;
	text-decoration: none;
}

.button:focus-visible {
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.search-form__submit-button {
	align-self: flex-end;
	padding: 7px 73px;
}

.more-button {
	padding: 7px 142px;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.search-form {
	display: flex;
	justify-content: space-between;
}

.search-form__fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.search-form__textfield {
	all: unset;
	min-width: 225px;
	font-family: inherit;
	font-size: inherit;
	line-height: 143%;
	letter-spacing: 0;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
}

.search-form__checkbox-list {
	display: flex;
	gap: 15px;
}

.search-form__label {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.search-form__label:focus {
	outline: none;
}

.search-form__label:has(:focus-visible) {
	outline: 1px solid #ffffff;
	outline-offset: 1px;
}

.search-form__pseudo-checkbox {
	display: block;
	width: 19px;
	height: 19px;
	border: 1px solid #ffffff;
}

.search-form__label-text {
	cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
	text-decoration: underline;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
	content: '';
	position: absolute;
	inset: 1px;
	display: block;
	background-color: #ffffff;
}
